::selection {
    background-color: #ffffff;
    color: #000000;
    text-shadow: none;
}

html, body {
    cursor: url('../cursors/cursor.svg') 0 0, auto;
}

a, 
button, 
label, 
summary, 
select,
option,
input[type="submit"], 
input[type="button"], 
input[type="reset"], 
input[type="checkbox"], 
input[type="radio"], 
input[type="file"],
input[type="range"],
[role="button"], 
[role="link"], 
[role="menuitem"],
[onclick],          
.pointer,         
svg:has(path):hover  
{
    cursor: url('../cursors/pointer.svg') 12 0, pointer !important;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="number"], 
input[type="search"], 
textarea, .about-material p,
[contenteditable="true"] {
    cursor: text;
}